{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel ="stylesheet" type="text/css" href="{% static 'css_files/2.login.css'%}">
    <title>Mail sent</title>
      <style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
      </style>
</head>

<body>
      <nav class="navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand brand-name">
            <a href="/"><img class="img-responsive2"
            src="{% static 'images/logo1.jpg'%}"></a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up/Log in <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'registration' %}">Sign up</a></li>
                <li><a href="#">Log in</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="alert alert-info">
        <h3 style="border-color:#007b82">Your password has been set.</h3>
        <a style="color: darkblue" href="{% url 'login' %}">Login</a>
    </div>
<footer id="mainFooter">
        <div class="container">
            <ul>
                <li><a class="button-foot" href="{% url 'about' %}">About</a> </li>
                <li><a class="button-foot" href="#">Terms & Conditions</a> </li>
                <li><a class="button-foot" href="#">FAQ</a></li>
                <li><a class="button-foot" href="#">Contact Us</a></li>
                <li class="button-foot">&copy; 2020 PICK & MOVE</li>
            </ul>
        </div>
    </footer>


         <script src="{% static 'js/jquery.slim.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>